.hidden {
    display: none;
}
img {
    position:absolute;
    width:100%;
    height:100%;
    left: 0px;
    top: 0px;
    right:0px;
    bottom:0px;
    z-index: -1;
    opacity:80%;
    }
.clock-contain {
    width: 100%;
    height: 200px;
}

.clock-contain #clock {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0px;
    font-size: 80px;
}

#greeting {
    text-align: center;
}